        <!-- footer -->
        <!-- -->
		<ul id="menu-primary-menu" class="menu">
			<li>An app by <a href="//x3lgaming.com/" target="_blank">X3L Gaming</a> / </li>
			<li><a href="//kbmod.com/category/podcast/" target="_blank">Twitter</a> / </li>
			<li><a href="//facebook.com/X3LGaming" target="_blank">Facebook</a> / </li>
			<li><a href="//reddit.com/r/X3LGaming/" target="_blank">Reddit</a> / </li>
			<li><a href="//amzn.to/2HSxdMs/" target="_blank">Merch</a> / </li>
			<li><a href="//twitch.tv/roaet" target="_blank">Developer</a> </li>
		</ul>
        <!-- -->
